.darkMode{
    display: none;
}

body.dark .sunMode{
    display: none;
}

body.dark .darkMode{
    display: inline;
}

body.dark {
    background: linear-gradient(222.26deg, rgba(255, 215, 138, 0.2) 0%, rgba(34, 34, 34, 0) 18.14%), linear-gradient(180deg, rgba(105, 105, 105, 0) 15.57%, #080A0E 26.82%), linear-gradient(40.71deg, #004469 50.16%, #9BD5ED 142.82%);
    background-size: 100% 400vh;
    background-repeat: no-repeat;
    background-color: #080A0E;
}

body.dark .menu{
    background: #2B4A5B;
}

body.dark .menu a{
    color: #C2CAD1;
}

body.dark .menu hr{
    border-bottom: #447890 2px solid;
}

body.dark .articleLeft h2 {
    background: linear-gradient(270deg, #9BB3F2 15.33%, #F0A5A4 101.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:400% 400%;
}

body.dark .articleLeft h1{
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.dark .button{
    background: linear-gradient(94.47deg, #45B4BB -16.48%, #4698C7 49.36%);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
}

body.dark .btn{
    background: linear-gradient(94.47deg, #EDA6A7 -16.48%, #AAB1E5 49.36%);
}

body.dark .title h2, body.dark .social h2, body.dark .clients h2 {
    background: linear-gradient(269.89deg, #FFD78A -1.07%, #F0A5A4 98.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:400% 400%;

}

body.dark .title p, body.dark .clients p, body.dark .social p {
    color: #787D80;

}


body.dark .card {
    background: #141B22;

}

body.dark .card h3 {
    color: #ffffff;
}

body.dark .card p {
    color: #ffffff;
}

body.dark .cardClient {
    background: #141B22;

}

body.dark .cardSocial{
    background: #141B22;
}

body.dark .cardSocial:last-child{
    color: #FFFFFF;
}

body.dark .cardSocial.twitter p{
    color: #1DA1F2;
}

body.dark .cardSocial.discord p{
    color: #7289DA;
}

body.dark .cardSocial.telegram p{
    color: #0088CC;
}

body.dark .cardSocial.medium p{
    color: #ffffff;
}


body.dark footer {
    background:linear-gradient(86.87deg, #074A6F -3.53%, #FFD78A 313.22%);
}

body.dark footer h4{
    color: #ffffff;
}

body.dark footer p, body.dark footer li {
    color: #C2CAD1;
}

body.darkMode footer i{
    background-color: #ffffff;
}

body.dark .cardSocial {
    background: #141B22;
}

body.dark footer li:hover, body.dark .menu a:hover{
    cursor: pointer;
    color: #FFD78A;
}


@media (min-width: 2000px) and (orientation: landscape){
    
    body.dark .menu hr{
        border-bottom: #447890 calc(var(--hmain)*.003) solid;
    }
}
