*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}

:root{
    font-family: 'Prompt', sans-serif;
    --hmain: 100vh;

    --p4k: 2.375rem;
    --t4k: 3rem;
    --st4k: 2.625rem; 

    --p2k: 1.75rem;
    --t2k: 2.25rem;
    --st2k: 2rem; 

    --pHD: 1.125rem;
    --tHD: 1.5rem;
    --stHD: 1.25rem; 

    --pStd: 1rem;
    --tStd: 1.25rem;
    --stStd: 1.125rem;

    --icon4k: 4rem;
    --icon2k: 3rem;
    --iconHD: 2rem;
    --iconstd: 1.5rem;
}

body{
    width: 100%;
    background: linear-gradient(181.25deg, rgba(255, 255, 255, 0) 41.55%, #FFFFFF 152.92%), linear-gradient(77.15deg, rgba(228, 244, 252, 0.2) 53.02%, rgba(255, 215, 138, 0.2) 89.5%), linear-gradient(154.49deg, rgba(255, 255, 255, 0) 20.36%, #FEFEFE 106.02%), linear-gradient(9.62deg, #9BD9F2 -0.79%, #BBA9E7 165.05%);
    background-size: 100% 100%;
}

   /* --- Header scheme --- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 calc(var(--hmain)*.05);
    height: calc(var(--hmain)*.1);
}

header img{
    height: calc(var(--hmain)*.04);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

header nav .switch i img {
    height: calc(var(--hmain)*.04);
    width: calc(var(--hmain)*.04);
}

header nav .switch i:first-child img{
    height: calc(var(--hmain)*.032);
    width: calc(var(--hmain)*.032);
    margin: calc(var(--hmain)*.004) calc(var(--hmain)*.004);
}

/*  --- Background --- */

.background {
    position: relative;
    z-index: -2;
}

.background div {
    position: absolute;
    right: -10px;
    top: -60px;
}

.background div img {
    height: calc(var(--hmain)*.4);
}

.cardano div {
    top: calc(var(--hmain)*.05);
    left: 0;
}

.cardano div img {
    height: calc(var(--hmain)*.75);
}

.footer div {
    top: -100px;
    left: 0;
}

/*  --- Fin Background --- */
.menu {
    align-self: baseline;
    background: linear-gradient(253.36deg, #BDE6F7 -18.33%, #C8DED4 100.44%, #C2D9C9 100.44%);
    width: 220px;
    position: absolute;
    right: calc(var(--hmain)*.14);
    top: calc(var(--hmain)*.03);
    border-radius: calc(var(--pStd)*.4);
    transform: translateY(0px);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.mActive {
    opacity: 0;
    transform: translateY(-500px);
    transition-delay: 0.5s;
}

.menu ul {
    padding-top: calc(var(--pStd)*.75);
}

.menu li {
    font-size: calc(var(--pStd));
    font-weight: 600;
    margin: calc(var(--pStd)*.75) 0;
    padding-left: calc(var(--pStd));
}

.menu hr{
    border: none;
    border-bottom: #E0AD00 2px solid;
    width: calc(var(--pStd)*2);
}

.menu a{
    color: #000000;
}

.switch {
    margin-left: calc(var(--hmain)*.015);
}

header nav i img {
    height: calc(var(--hmain)*.03);
    width: calc(var(--hmain)*.03);
}

   /* --- Cards scheme --- */

   main {
    display: flex;
    align-items: center;
    flex-direction: column;
   }

    main h1 {
        font-weight: 700;
        font-size: calc(var(--tHD));
        margin-bottom: calc(var(--tHD)*3);
    }
    
    .gruopCards{
        width: 80%;
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }

    .card {
        background: linear-gradient(180deg, #E3F3FB 0%, #E7F5FB 100%);
        width: 260px;
        border-radius: 10px;
        transition: 0.25s;
    }

    .card .icon_card {
        position: relative;
    }

    .card .icon_card a{
        position: absolute;
    }

    .card .main_card {
        padding: 5% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card .icon_card img{
        width: 25px;
        border-radius: 7px 0 0 0;
    }

    .card .img{
        display: flex;
        justify-content: center;
    }

    .card .img img {
        width: 70%;
    }

    .main_card h4 {
        font-weight: 500;
        font-style: italic;
        font-size: calc(var(--tStd));
        margin-top: calc(var(--tStd));
    }

    .main_card h3{
        font-weight: 600;
        font-size: calc(var(--stStd));
        margin: calc(var(--tStd)*.5) 0;
    }

    .main_card .description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: calc(var(--tStd)*.5);
    }

    .main_card .description p{
        font-weight: 400;
        text-align: center;
        line-height: calc(var(--pStd)*1.5);
    }

    /* --- Footer scheme --- */

    footer {
        display: flex;
        margin-top: calc(var(--hmain)*0.1);
        padding: calc(var(--hmain)*.032) calc(var(--hmain)*.032);
    }
    
    footer .foot{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }
    
    
    footer article {
        width: 30%;
        height: 100%;
    }
    
    .logoFooter{
        display: flex;
        flex-direction: column;
    }
    
    .logoFooter img{
        height: calc(var(--iconstd));
    }
    
    .logoFooter p, .rights p {
        
        font-size: calc(var(--pStd));
        font-weight: 500;
        margin-top: calc(var(--pStd)*.5);
    }
    
    footer nav {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    footer h4 {
        font-weight: 700;
        font-size: calc(var(--stStd));
        margin-bottom: calc(var(--stStd));
        color: #000000;
    }
    
    footer li {
        font-size: calc(var(--pStd));
        font-weight: 600;
        margin-bottom: calc(var(--pStd));
        color: #000000;
        transition: 0.15s;
    }
    
    footer section {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    footer .icons{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: calc(var(--pStd)*2);
    }
    
    .icons {
        gap:calc(var(--hmain)*.03)
    }
    
    .icons i{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .icons img {
        height: calc(var(--iconstd));
        width: calc(var(--iconstd));
    }
    
    footer i{
        transition: 0.15s;
    }
    
    footer .rights{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-top: calc(var(--pStd)*.5);
    }


        /* --- Interactive --- */

        .switch:hover, #menu{
            cursor: pointer;
        }    

        .card:hover{
            scale: 1.1;
        }      
    
        footer li:hover, .menu a:hover{
            cursor: pointer;
            color: #074A6F;
        }
        
        footer i:hover{
            cursor: pointer;
            scale: 1.1;
        }        

/* --- Medias Queries--- */

@media (min-width: 1640px) and (orientation: landscape){

    .menu {
        width: 240px;
        border-radius: 10px;
    }

    .menu ul {
        padding-top: calc(var(--pHD)*.75);
    }
    
    .menu li {
        font-size: calc(var(--pHD));
        margin: calc(var(--pHD)*.75) 0;
        padding-left: calc(var(--pHD));
    }
    
    .menu hr{
        width: calc(var(--pHD)*2);
        border-bottom: #E0AD00 2.25px solid;
    }


    main h1 {
        font-size: calc(var(--tHD));
        margin-bottom: calc(var(--tHD)*3);
    }

    .gruopCards{
        width: 1400px;
        gap: 45px;
    }

    .card {
        width: 285px;
        border-radius: 12px;
    }

    .card .icon_card img{
        width: 30px;
        border-radius: 12px 0 0 0;
    }


    .main_card h4 {
        font-size: calc(var(--tHD));
        margin-top: calc(var(--tHD));
    }

    .main_card h3{
        font-size: calc(var(--stHD));
        margin: calc(var(--tHD)*.5) 0;
    }

    .main_card .description {
        margin-top: calc(var(--tHD)*.5);
    }

    .main_card .description p{
        line-height: calc(var(--pHD)*1.5);
        font-size: calc(var(--pHD));
    }
    /*  --- inicio Background --- */
    .footer div {
        top: -200px;
    }

    /*  --- Fin Background --- */
   
    .logoFooter p, .rights p {
        
        font-size: calc(var(--pHD));
        margin-top: calc(var(--pHD)*.5);
    }

    .logoFooter img{
        height: calc(var(--iconHD));
    }

    footer h4 {
        font-size: calc(var(--stHD));
        margin-bottom: calc(var(--stHD));
    }
    
    footer li {
        font-size: calc(var(--pHD));
        margin-bottom: calc(var(--pHD));
    }

    .icons img {
        height: calc(var(--iconHD));
        width: calc(var(--iconHD));
    }

    footer .rights{
        margin-top: calc(var(--pHD));
    }

}


@media (min-width: 2240px) and (orientation: landscape){


    .menu {
        width: 385px;
        border-radius: 10px;
    }

    .menu ul {
        padding-top: calc(var(--p2k)*.75);
    }
    
    .menu li {
        font-size: calc(var(--p2k));
        margin: calc(var(--p2k)*.75) 0;
        padding-left: calc(var(--p2k));
    }
    
    .menu hr{
        width: calc(var(--p2k)*2);
        border-bottom: #E0AD00 2.25px solid;
    }

 

    main h1 {
        font-size: calc(var(--t2k));
        margin-bottom: calc(var(--t2k)*3);
    }

    .gruopCards{
        width: 2210px;
        gap: 65px;
    }

    .card {
        width: 455px;
        border-radius: 15px;
    }

    .card .icon_card img{
        width: 45px;
        border-radius: 15px 0 0 0;
    }


    .main_card h4 {
        font-size: calc(var(--t2k));
        margin-top: calc(var(--t2k));
    }

    .main_card h3{
        font-size: calc(var(--st2k));
        margin: calc(var(--t2k)*.5) 0;
    }

    .main_card .description {
        margin-top: calc(var(--t2k)*.5);
    }

    .main_card .description p{
        line-height: calc(var(--p2k)*1.5);
        font-size: calc(var(--p2k));
    }

    .logoFooter p, .rights p {
        
        font-size: calc(var(--p2k));
        margin-top: calc(var(--p2k)*.5);
    }

    .logoFooter img{
        height: calc(var(--icon2k));
    }

    footer h4 {
        font-size: calc(var(--st2k));
        margin-bottom: calc(var(--st2k));
    }
    
    footer li {
        font-size: calc(var(--p2k));
        margin-bottom: calc(var(--p2k));
    }

    .icons img {
        height: calc(var(--icon2k));
        width: calc(var(--icon2k));
    }


    footer .rights{
        margin-top: calc(var(--p2k));
    }

}

@media (min-width: 3200px) and (orientation: landscape){

    .menu {
        width: 500px;
        border-radius: 10px;
    }

    .menu ul {
        padding-top: calc(var(--p4k)*.75);
    }
    
    .menu li {
        font-size: calc(var(--p4k));
        margin: calc(var(--p4k)*.75) 0;
        padding-left: calc(var(--p4k));
    }
    
    .menu hr{
        width: calc(var(--p4k)*2);
        border-bottom: #E0AD00 2.25px solid;
    }


    main h1 {
        font-size: calc(var(--t4k));
        margin-bottom: calc(var(--t4k)*3);
    }

    .gruopCards{
        width: 2940px;
        gap: 90px;
    }

    .card {
        width: 600px;
        border-radius: 20px;
    }

    .card .icon_card img{
        width: 60px;
        border-radius: 20px 0 0 0;
    }


    .main_card h4 {
        font-size: calc(var(--t4k));
        margin-top: calc(var(--t4k));
    }

    .main_card h3{
        font-size: calc(var(--st4k));
        margin: calc(var(--t4k)*.5) 0;
    }

    .main_card .description {
        margin-top: calc(var(--t4k)*.5);
    }

    .main_card .description p{
        line-height: calc(var(--p4k)*1.5);
        font-size: calc(var(--p4k));
    }

    .logoFooter p, .rights p {
        
        font-size: calc(var(--p4k));
        margin-top: calc(var(--p4k)*.5);
    }

    .logoFooter img{
        height: calc(var(--icon4k));
    }

    footer h4 {
        font-size: calc(var(--st4k));
        margin-bottom: calc(var(--st4k));
    }
    
    footer li {
        font-size: calc(var(--p4k));
        margin-bottom: calc(var(--p4k));
    }

    .icons img {
        height: calc(var(--icon4k));
        width: calc(var(--icon4k));
    }

    footer .rights{
        margin-top: calc(var(--p4k));
    }

}

/* 2 */

@media (max-width: 1499px) and (orientation: landscape){

    .gruopCards{
        width: 85%;
    }
    .card {
        width: 260px;
    }

    footer {
        flex-direction: column;
    }
    footer section .rights{
        align-items: flex-start;
    }

    footer .icons{
        justify-content: flex-start;
    }

    footer h4 {
        font-size: calc(var(--pHD));
        margin-bottom: calc(var(--pHD));
    }
    
    footer li {
        font-size: calc(var(--pStd));
        margin-bottom: calc(var(--pStd));
    }

}

/* 3  */

@media (max-width: 1023px) and (orientation: landscape){

    .background {
        display: none;
    }
}

/* 4 Mobile Landscape */

@media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px){
    
    .background {
        display: none;
    }
    
    header {
        margin: 0 calc(var(--hmain)*.1);
        height: calc(var(--hmain)*.15);
    }

    header img{
        height: calc(var(--hmain)*.06);
    }

    header nav div i{
        display: flex;
     }
 
     header nav i img {
        height: calc(var(--hmain)*.05);
        width: calc(var(--hmain)*.05);
    }
    
    header nav .switch i img {
        height: calc(var(--hmain)*.06);
        width: calc(var(--hmain)*.06);
    }
    
    header nav .switch i:first-child img{
        height: calc(var(--hmain)*.052);
        width: calc(var(--hmain)*.052);
        margin: calc(var(--hmain)*.004) calc(var(--hmain)*.004);
    }

    .menu {
        right: calc(var(--hmain)*.23);
        top: calc(var(--hmain)*.05);
    }

    .card {
        width: 260px;
    }


    footer {
        flex-direction: column;
        padding: 0% calc(var(--hmain)*.03);
        align-items: center;
    }

    footer .foot{
        flex-direction: column;
        padding-top: calc(var(--pStd)*1.5);
    }


    footer article {
        width: 100%;
    }

    .logoFooter{
        
        justify-content: center;
        align-items: center;
    }

    .logoFooter img{
        height: calc(var(--iconstd));
    }

    .logoFooter p {
        padding: 0 15%;
        text-align: center;
    }

    footer nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: calc(var(--pHD));

    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: calc(var(--pHD)) 0;
    }
    footer section {
        width: 100%;
        padding-left: calc(var(--hmain)*.027);
        padding: 0px calc(var(--hmain)*.014);
        padding-bottom: calc(var(--pHD));
    }

    footer h4 {
        font-size: calc(var(--pHD));
        margin-bottom: calc(var(--pHD));
    }
    
    footer li {
        font-size: calc(var(--pStd));
        margin-bottom: calc(var(--pStd));
    }

    .icons{
        gap: calc(var(--hmain)*.055);
    }

    .icons img {
        height: calc(var(--iconstd));
        width: calc(var(--iconstd));
    }

    footer .rights p{
        align-self: center;
    }

    footer .icons{
        justify-content: center;
    }

}

/* 5  */

@media (max-width: 1044px) and (orientation: portrait) {

    .background {
        display: none;
    }

    header {
        margin: 0 calc(var(--hmain)*.03);
        margin-bottom: calc(var(--tHD)*3);
    }

    header img{
        height: calc(var(--hmain)*.03);
    }

    header nav .switch i img {
        height: calc(var(--hmain)*.03);
        width: calc(var(--hmain)*.03);
    }
    
    header nav .switch i:first-child img{
        height: calc(var(--hmain)*.024);
        width: calc(var(--hmain)*.024);
        margin: calc(var(--hmain)*.003) calc(var(--hmain)*.003);
    }
    header nav i img {
        height: calc(var(--hmain)*.0225);
        width: calc(var(--hmain)*.0225);
    }

    .menu {
        right: calc(var(--hmain)*.12);
    }

    .card {
        width: 260px;
    }
    
    footer {
        flex-direction: column;
        padding: 0% calc(var(--hmain)*.03);
        align-items: center;
    }

    footer .foot{
        flex-direction: column;
        padding-top: calc(var(--pStd)*1.5);
    }


    footer article {
        width: 100%;
    }

    .logoFooter{
        
        justify-content: center;
        align-items: center;
    }

    .logoFooter img{
        height: calc(var(--iconstd));
    }

    .logoFooter p{
        text-align: center;
        padding: 0 5%;
    }

    footer nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: calc(var(--pHD));

    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: calc(var(--pHD)) 0;
    }
    footer section {
        width: 100%;
        padding-left: calc(var(--hmain)*.027);
        padding: 0px calc(var(--hmain)*.014);
        padding-bottom: calc(var(--pHD));
    }

    footer .rights{
        align-items: center;
    }
    footer .icons{
        justify-content: center;
        margin-top: 0;
    }


    footer h4 {
        font-size: calc(var(--pHD));
        margin-bottom: calc(var(--pHD));
    }
    
    footer li {
        font-size: calc(var(--pStd));
        margin-bottom: calc(var(--pStd));
    }

}

@media (max-width: 600px) and (orientation: portrait){

    header img{
        height: calc(var(--hmain)*.04);
    }

    header nav .switch i img {
        height: calc(var(--hmain)*.04);
        width: calc(var(--hmain)*.04);
    }
    
    header nav .switch i:first-child img{
        height: calc(var(--hmain)*.032);
        width: calc(var(--hmain)*.032);
        margin: calc(var(--hmain)*.004) calc(var(--hmain)*.004);
    }
    header nav i img {
        height: calc(var(--hmain)*.03);
        width: calc(var(--hmain)*.03);
    }
    .menu {
        width: 190px;
    }


}
