$img-back-std: 350px;

$img-ada-std: 600px;

.background {  
    position: relative;
    z-index: -1;
    @media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px){
        display: none;
    }
    @media (max-width: 1044px) and (orientation: portrait) {
        display: none;
    }

    div {       
        position: absolute;
        right: 50px;
        top: -60px;
        img {
            height: $img-back-std;
        }
        @media (min-width: 2000px) and (orientation: landscape){
            right: calc((100vw - 2000px)/2 + 50px);
        }
    }
}

.cardano {
    div{
        top: 50px;
        left: 0;
        img{
            height: $img-ada-std;
        }
        @media (min-width: 2000px) and (orientation: landscape){
            left: calc((100vw - 2000px)/2);
        }
    }
}

.footer {
    div {
        top: -200px;
        left: 0;
        @media (min-width: 2000px) and (orientation: landscape){
            left: calc((100vw - 2000px)/2);
        }
    }
}