@use "./fontweight" as fonts;
$width-card-std: 275px;
$border-card-std: $width-card-std*0.04;
$gap-std: $width-card-std*.2;
$width-icon-card-std: $width-card-std*.12;



$font-pmin-std: 0.875rem;

$font-h3-std: 1.125rem;

$font-h4-std: 1.125rem;

$primary-color: #000000;
$secundary-color: #ffffff;

$transition: 0.25s;


$background-color-light: linear-gradient(180deg, #E3F3FB 0%, #E7F5FB 100%);
$background-color-dark: #141B22;



.gruopCards {
	margin: 0 2.5%;
	max-width: 1400px;
	display: flex;
	justify-content: center;
	gap: $gap-std;
	flex-wrap: wrap;

	.card {
		background: $background-color-light;
		width: $width-card-std;
		height: auto;
		border-radius: $border-card-std;
		transition: $transition;


		&:hover {
			scale: 1.1;
		}

		.icon_card {
			position: relative;

			img {
				width: $width-icon-card-std;
				border-radius: $border-card-std 0 0 0;
			}

			a {
				position: absolute;
			}
		}

		.main_card {
			padding: 8%;
			display: flex;
			flex-direction: column;
			align-items: center;

			h4 {
				color: $primary-color;
				font-weight: fonts.$font-weight-bold;
				font-style: italic;
				font-size: $font-h4-std;
				margin-top: $font-h4-std;

			}

			h3 {
				color: $primary-color;
				font-weight: fonts.$font-weight-bold;
				font-size: $font-h3-std;
				margin: $font-h3-std 0;

			}

			.description {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				p {
					color: $primary-color;
					font-weight: fonts.$font-weight-semibold;
					text-align: center;
					font-size: $font-pmin-std;
					line-height: $font-pmin-std*1.5;

				}
			}
		}

		.img {
			display: flex;
			justify-content: center;

			img {
				width: 70%;
			}
		}

	}
}

body.dark {
	.card {
		background: $background-color-dark;

		.main_card {
			h3 {
				color: $secundary-color;
			}

			h4 {
				color: $secundary-color;
			}

			.description {
				p {
					color: $secundary-color;
				}
			}
		}
	}
}