@use "./fontweight" as fonts;
$width-card-std: 275px;
$border-card-std: $width-card-std*0.04;
$gap-std: $width-card-std*.2;
$width-icon-card-std: $width-card-std*.12;

$width-card-2k: $width-card-std*1.4;
$border-card-2k: $width-card-2k*0.04;
$gap-2k: $width-card-2k*.2;
$width-icon-card-2k: $width-card-2k*.12;

$width-card-4k: $width-card-std*2;
$border-card-4k: $width-card-4k*0.04;
$gap-4k: $width-card-4k*.2;
$width-icon-card-4k: $width-card-4k*.12;


$font-pmin-std: 0.875rem;
$font-pmin-2k: 1.25rem;
$font-pmin-4k: 1.75rem;

$font-h3-std: 1.125rem;
$font-h3-2k: 1.5rem;
$font-h3-4k: 2.25rem;

$font-h4-std: 1.125rem;
$font-h4-2k: 1.5rem;
$font-h4-4k: 2.25rem;

$primary-color: #000000;
$secundary-color: #ffffff;

$transition: 0.25s;


$background-color-light: linear-gradient(180deg, #E3F3FB 0%, #E7F5FB 100%);
$background-color-dark: #141B22;



.gruopCards {
	margin: 0 2.5%;
	max-width: 1400px;
	display: flex;
	justify-content: center;
	gap: $gap-std;
	flex-wrap: wrap;

	@media (min-width: 2240px) and (orientation: landscape) {
		max-width: 2000px;
		gap: $gap-2k;
	}

	@media (min-width: 3200px) and (orientation: landscape) {
		max-width: 2800px;
		gap: $gap-4k;
	}

	.card {
		background: $background-color-light;
		width: $width-card-std;
		height: auto;
		border-radius: $border-card-std;
		transition: $transition;

		@media (min-width: 2240px) and (orientation: landscape) {
			width: $width-card-2k;
			border-radius: $border-card-2k;
		}

		@media (min-width: 3200px) and (orientation: landscape) {
			width: $width-card-4k;
			border-radius: $border-card-4k;
		}

		&:hover {
			scale: 1.1;
		}

		.icon_card {
			position: relative;

			img {
				width: $width-icon-card-std;
				border-radius: $border-card-std 0 0 0;

				@media (min-width: 2240px) and (orientation: landscape) {
					width: $width-icon-card-2k;
					border-radius: $border-card-2k 0 0 0;
				}

				@media (min-width: 3200px) and (orientation: landscape) {
					width: $width-icon-card-4k;
					border-radius: $border-card-4k 0 0 0;
				}
			}

			a {
				position: absolute;
			}
		}

		.main_card {
			padding: 8%;
			display: flex;
			flex-direction: column;
			align-items: center;

			h4 {
				color: $primary-color;
				font-weight: fonts.$font-weight-bold;
				font-style: italic;
				font-size: $font-h4-std;
				margin-top: $font-h4-std;

				@media (min-width: 2240px) and (orientation: landscape) {
					font-size: $font-h4-2k;
					margin-top: $font-h4-2k;
				}

				@media (min-width: 3200px) and (orientation: landscape) {
					font-size: $font-h4-4k;
					margin-top: $font-h4-4k;
				}
			}

			h3 {
				color: $primary-color;
				font-weight: fonts.$font-weight-bold;
				font-size: $font-h3-std;
				margin: $font-h3-std 0;

				@media (min-width: 2240px) and (orientation: landscape) {
					font-size: $font-h3-2k;
					margin: $font-h3-2k 0;
				}

				@media (min-width: 3200px) and (orientation: landscape) {
					font-size: $font-h3-4k;
					margin: $font-h3-4k 0;
				}
			}

			.description {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				p {
					color: $primary-color;
					font-weight: fonts.$font-weight-semibold;
					text-align: center;
					font-size: $font-pmin-std;
					line-height: $font-pmin-std*1.5;

					@media (min-width: 2240px) and (orientation: landscape) {
						font-size: $font-pmin-2k;
						line-height: $font-pmin-2k*1.5;
					}

					@media (min-width: 3200px) and (orientation: landscape) {
						font-size: $font-pmin-4k;
						line-height: $font-pmin-4k*1.5;
					}
				}
			}
		}

		.img {
			display: flex;
			justify-content: center;

			img {
				width: 70%;
			}
		}

	}
}

body.dark {
	.card {
		background: $background-color-dark;

		.main_card {
			h3 {
				color: $secundary-color;
			}

			h4 {
				color: $secundary-color;
			}

			.description {
				p {
					color: $secundary-color;
				}
			}
		}
	}
}