@use "./fontweight" as fonts;

$font-h1-std: 1.5rem;

$primary-color: #000000;
$secundary-color: #ffffff;

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        color: $primary-color;
        font-weight: fonts.$font-weight-extrabold;
        font-size: $font-h1-std;
        margin-bottom: $font-h1-std*3;
    }
   }

body.dark{
    main {
        h1{
            color: $secundary-color;
        }
    }
}